*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
min-width: 50px;
height: 100%;
padding-left: 10px;
padding-right: 10px;
font-family: Arial;
}
header:before{
	content: "";
	width: 100%;
	height: 20px;
	background-color: #023875;
	border-radius: 3px;
}
header{
	display: flex;
	flex-direction: column;
}
.header-info{
	display: inline-flex;
	flex-direction: column;
	text-align: center;
}
.first-p{
	font-size: 24px;
	color: #023875;
	/*padding: 10px 5px 0px 10px;*/
}
.second-p{
	font-size: 48px;
	color: #023875;
	/*padding: 10px 5px 0px 10px;*/
}
.third-p{
	font-size: 13px;
	/*padding: 10px 0px 0px 10px;*/
}
.kolesov{
	display: block;
	width: 169px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}
.number{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 10px 10px 0px 0px;
}
.number p:last-child{
	font-size: 13px;
	color: black;
	padding-right: 5px;
}
.bg{
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px;
}
.kolesov-info{
	max-width: 599px;
	height: 100%;
}
.kolesov-info p:first-child{
	margin-top: 30px;
	margin-bottom: 20px;
	/*text-align: center;*/

}
.kolesov-info p:last-child{
	margin-top: 20px;
}
.navigation{
	max-width: 320px;
}	

.navigation p{
	background-color: #023875;
	color: #fff;
	padding: 20px;
	margin-top: 20px;
}
.navigation li{
	padding-top: 10px;
	padding-left: 20px;
}
.navigation a{
	color:#023875;
}
.navigation a:hover{
	cursor: pointer;
}
footer{
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #023875;
	margin-top: 20px;
	border-radius: 3px;
	padding: 10px;

}
